body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 935px;
    margin: 0 auto;

}

.container_pai_top {
    background-color: #fff;
    padding: 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    cursor: pointer;
}

.top {
    display:flex;
    max-width: 935px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.top_esquerdo, .top_direita {
    flex: 1;
    display:flex;
    align-items: center;
}

.top_centro {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 215px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    margin:0 10px 0 10px;
}

.icon-container, .icon-container2 {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-container2 {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    font-size: 24px;
    cursor: pointer;
}

.icon-container2 ion-icon:nth-child(4) {
    margin: auto 20px 10px auto;
}

ion-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.logo {
    width: 40px;
    height: 40px;
}

.logo-text {
    margin-left: 10px;
    font-size: 14px;
}

.vertical-line {
    border-left: 1px solid #ccc;
    height: 30px;
    margin: 0 10px;
}

.container_corpo {
    display: flex;
    justify-content: center;
    max-width: 935px;
    margin: 88px auto 0;
    padding: 0 10px;
    z-index: 1;
}

.container_corpo_esquerda {
    display: flex;
    flex-direction: column;
    width: 614px;
    padding: 10px;
    align-items: center;
}

.story-container {
    width: 614px;
    height: 118px;
}

.stories {
    display: flex;
    gap: 16px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 24px;
    margin-bottom: 60px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #dbdbdb;
    overflow: hidden;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.story-border {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    border-radius: 50%;
}

.story-border img {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    padding: 3px;
    border: 2px solid #fff;
    cursor: pointer;
}

.story p {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #332b2b;
    cursor: pointer;
}

.nav-arrow {
    position: absolute;
    top: 45%;
    right: 30px;
    transform: translateY(-50%);
    background-color: rgba(246, 244, 244, 0.5);
    padding: 5px;
    border-radius: 50%;
    align-items: center;
}

.nav-arrow svg {
    fill: #eee4e4;
    cursor: pointer;
}

.posts {
    max-width: 614px;
    overflow: hidden;
    margin-top: 60px;
}

.post {
    background-color: #fff;
    border-radius: 5px;
    margin: 24px 0 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #dbdbdb;
    overflow: hidden;
}

.post-header {
    display: flex;
    align-items: center;
    max-width: 614px;
    height: 80px;
    justify-content: space-between;
    font-weight: 500;
}

.post-avatar {
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
    width: 45px;
    height: 45px;
}

.post-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
    margin-right: 200px;
    cursor: pointer;
}

.post-user {
    font-weight: bold;
    font-size: 14px;
    flex-grow: 1;
    margin-left: 10px;
    text-decoration: none;
    color: inherit;
}

.post-user:visited {
    color: inherit;
}

.post-image {
    max-width: 614px;
    margin-top: 10px;
    cursor: pointer;
}

.post-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
}

.post-actions i {
    font-size: 24px;
    cursor: pointer;
}

.post-caption {
    margin-top: 10px;
    margin-left: 19px;
    font-weight: bold;
}

.icon_adireita {
    float: right;
    width: 30px;
    height: 30px;
}

.curtidas {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;

    .p {
        font-size: 14px;
    }
}

.img-curtidas {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

strong {
    font-weight: bold;
    cursor: pointer;
}

.container-direita {
    display: flex;
    flex-direction: column;
    width: 293px;
    margin: 35px 0 0;
    background-color: #f8f8f8;
    padding: 10px;
    font-size: 12px;

}

.perfil, .sugestao {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
    border-radius: 3px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
}

.avatar, .avatar-sugestao {
    border-radius: 50%;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    object-fit: cover;
    cursor: pointer;
}

.avatar {
    width: 56px;
    height: 56px;
}

.info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 300px;
}

.titulo-sugestoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.ver-tudo, .seguir-btn {
    color: #0095f6;
    text-decoration: none;
    font-weight: bold;
}

.ver-tudo:hover, .seguir-btn:hover {
    text-decoration: underline;
}

.nome {
    font-weight: bold;
}

.usuario {
    color: #9a9999;
    margin-top: 8px;
}

.comentario  {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
}

.comentario ion-icon:nth-child(3) {
    margin-left: auto;
    margin-right: 20px;
}

.comentario-input {
    margin: 20px auto auto 20px;
    border:1px;
    background-color: #e9e9ea;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 180px;
    text-align: center;
    height: 35px;
}

.container-input-comentarios {
    margin-bottom: 20px;
    font-weight: 300;
}

.botao-publicar {
    background-color: #7289d7;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 20px;
    margin-left: auto;
}

.botao-publicar:hover {
    transition: background-color 600ms;
    background-color: #082ca6;
    transform: scale(105%);
}

.rodape  {
    color: #bdb9b9;
    margin: 10px 0 20px 20px;

    .pe{
        margin-top: 20px;
    }
}

.video_container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin-bottom: 10px;
}

.legenda_post {
    margin: 10px 0px 15px 20px;
}

.video_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video_container p {
    font-size: 14px;
    text-align: center;
    color: #555;
}

@media (max-width: 600px) {
    .container_pai_top {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .top {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .top_esquerdo {
        display: flex;
        flex: 1;
        justify-content: space-between;

        .vertical-line {
            display: none;
        }
    }

    .top_centro {
        display: none;
    }

    .top_direita {
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }

    .top_centro img {
        max-height: 40px;

    }

    .top_esquerdo ion-icon {
        display: none;
    }

    .top_esquerdo ion-icon[name="logo-instagram"] {
        display: block;
    }

    .top_direita ion-icon {
        display: none;
    }

    .top_direita ion-icon[name="paper-plane-outline"] {
        display: block;
    }

    .container_corpo {
        flex-direction: column;
        align-items: center;
    }

    .container_corpo_esquerda {
        margin: 15px 0;
        width: 100%;
        padding: 10px;
    }

    .story-container {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap; /
        scrollbar-width: none;
    }

    .story-container::-webkit-scrollbar {
        display: none;
    }

    .stories {
        display: flex;
        gap: 16px;
        padding: 0;
        background-color: transparent;
        border-radius: 10px;
        margin-top: 20px;
        box-shadow: none;
        border: none;
    }

    .story-container, .posts {
        width: 100%;
    }

    .nav-arrow {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: rgba(246, 244, 244, 0.5);
        padding: 5px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-arrow svg {
        fill: #eee4e4;
    }

    .post-header, .post-image, .post-actions, .comentario, .comentario-input {
        width: 100%;
        margin: 0;
        padding: 0;
    }

   .posts {
       margin-top: 20px
   }

    .img-curtidas {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    .curtidas {
        margin-left: auto;
    }

    .legenda_post {
        margin-left: 0;
    }

    .post-avatar img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .comentario-input {
        width: 50%;
    }

    .botao-publicar {
        padding: 5px;
    }

    ion-icon {
        font-size: 24px;
        width: 24px;
        height: 24px;
    }

    .container-direita {
        display: none;

    }

    .mobile {
        display: initial;
    }

}
